<form class="form__container" >
    <fieldset>
<legend>Total Interes</legend>

<div class="paragraph">
<p>El total de años a pagar es de : <b>{{age}}</b> <br> El  ineteres es de:<b>{{interest}}%</b>  <br> El total a pagar:<b> {{total}} </b></p>
</div>

    </fieldset>

    <button class="btn" href="/">Volver a calcular</button>
</form>
