<form action="/" method="POST" class="form__container">
<fieldset>
    <legend>Formulario para cantidad de capital </legend>
    <div class="container">
<div class="labe_input">
<label for="capital">Ingrese capital: </label>
<input type="number" required="true" name="capital" placeholder="0" id="capital">
</div>
<div class="labe_input">
    <label for="interest"> Ingrese tasa de interes</label>
    <input type="number" required="true" name="interest" placeholder="0" id="interest">
</div>
<div class="labe_input">
    <label for="age">Ingrese cantidad de años</label>
    <input type="number" required="true" name="age" placeholder="0" id="age">
</div>

</div>
</fieldset>


<button type="submit" class="btn">Calcular</button>

</form>
